<Configuration status="INFO">
    <Appenders>
        <Lambda name="Lambda">
            <JsonTemplateLayout eventTemplateUri="classpath:LogFormat.json" locationInfoEnabled="true"/>
        </Lambda>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
    </Loggers>
</Configuration>
